nav{
    align-items: center;
    background-color:cornflowerblue;
    display: flex;
    justify-content: space-around;
    height: 70px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-size: 20pt;
}

body{
    margin: 0;
}

header{
    background-image: url("https://www.suzano.sp.gov.br/web/wp-content/uploads/2017/12/geral-suzano-700x396.jpg");
    background-size: cover;
    background-position: center;
    background-color: crimson;
    height: 400px;
}

input{
    height: 50px;
    width: 400px;
}

form{
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section{
    align-items: center;
    background-color: violet;
    height: 500px;
    display: flex;
    justify-content: center;
}